.exhibition-first {
    background-color: var(--background-dark);
    // padding: calc(var(--vw) * 80 + 40px);
    position: relative;
    // @media (min-width: 1920px) {
    //     padding: 120px;
    // }
    &__row {
        align-items: center;
    }
}

.additive-pictures {
    position: absolute;
    bottom: 10px;
    z-index: 200;
    width: 50%;
    right: 0;
    @media (max-width: 1280px) {
        width: 100%;
    }
}
.decoration-pictures {
    position: static;
    display: flex;
    gap: 0px;
    @media (max-width: 1280px) {
        display: none;
    }
    &__item {
        position: static;
        width: 20%;
        border-radius: 8px;
    }
    &__item:nth-child(1) {
        transform: rotate(-20deg);
    }
    &__item:nth-child(2) {
        transform: rotate(0deg);
        .round {
            box-shadow: 0px 0px 10px 10px var(--text-background);
            border-radius: 50%;
            border: 0;
        }
    }
    &__item:nth-child(3) {
        transform: rotate(20deg);
        width: 23%;
        left: calc(var(--vw) * -20);
        position: relative;
        top: calc(var(--vw) * -60);
        z-index: -1;
        @media (min-width: 1920px) {
            left: -20px;
            top: -60px;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        // border: 5px solid var(--white);
        border-left: 5px outset  var(--text-golg-light);
        border-top: 5px groove  var(--text-golg);
        border-right: 5px ridge   var(--text-golg);
        border-bottom: 5px double var(--text-golg);
        // box-shadow: 0px 0px 10px 10px var(--white);
        // filter: blur(2px);
        // clip: rect(0px, 1024px, 768px, 0px);
        // box-shadow: 0px 0px 40px 40px #DBA632;
    }
}
