// Colors
// Разница --  и $
// -- это для css
// --background: #96190b;
//  $ это переменая scss
// $primary: #1B70F1;


:root {
    --background: #96190b;
    --text-background: #F2F0E9;
    --text2-background: #d4cbba;

    --background-light: #f2f0e9;
    --background-dark: #d4cbba;
    --text-golg: #9B6A30;
    --text-golg-light: #f5f0ea;
    --text-red: #96190b;
    --white: #ffffff;

    // --text-golg-contrast: #383838;
    --text-golg-contrast: #875E27;
    
}
