.exhibition-second {
    background-color: var(--background-light);
    // padding: calc(var(--vw) * 80 + 40px);
    position: relative;

    // @media (min-width: 1920px) {
    //     padding: 120px;
    // }
    &__row {
        align-items: center;
        flex-direction: row-reverse;
        @media (max-width: 1280px) {
            flex-direction: column-reverse;
            flex-direction: column;
        }
    }
    &__left {
        left: 0;
        @media (max-width: 1280px) {
            position: relative;
        }
    }
    &__left-pictures {
        justify-content: center;
    }
}
