.pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,200px));
    // grid-template-rows: auto auto;
    grid-template-rows: auto;
    justify-items: center;
    gap: 40px;
    justify-content: center;
    z-index: 10;
    position: relative;
    @media (max-width: 920px) {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: none;
        gap: calc(var(--vw) *10);
    }
    @media (max-width: 500px) {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: none;
    }
    @media (max-width: 920px) and (orientation: landscape) {
        grid-template-columns: auto auto auto;
    }

    &__item {
        // overflow: hidden;
        // max-height: 200px;
        text-align: center;
        transition: scale .2s ease-in-out;
    }
    &__block {
        height: 300px;
        width: 200px;
        overflow: hidden;
        border-radius: 8px;
        @media (max-width: 920px) {
            height: 100px;
            width: auto;
            border-radius: 0;
        }
    }

    &__img {
        // height: 200px;
        // width: 100%;
        height: 100%;
        // object-fit: none;
        // object-fit: contain;
        // object-fit: cover;
        object-fit: scale-down;
        border-radius: 8px;
        opacity: 0.8;
        filter: grayscale(40%);
        transition: filter .2s ease-in-out;
        @media (max-width: 920px) {
            height: auto;
            width: 100%;
            border-radius: 0;
            filter: none;
        }
    }
    &__item:hover {
        scale: 1.05;
    }
    &__img:hover {
        opacity: 1;
        filter: contrast(120%);
    }
}

// pictures__text
.block-text {
    text-align: center;
}
// pictures__w100
.block-w100 {
    width: 100%;
}
// pictures__h-auto
.block-h-auto {
    height: auto;
    @media (max-width: 920px) {
        height: 100px;
    }
}
