.video {
    background-color: var(--background-light);
    &__block {
        display: grid;
        z-index: 999;
        position: relative;
        grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
        gap: 30px;
        @media (max-width: 840px) {
            grid-template-columns: 1fr;
        }
    }

    &__content {
        width: 100%;
        text-align: center;
    }
    &__iframe {
        width: 100%;
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}
