.pictures {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(100px,200px));
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    row-gap: 30px;
    column-gap: 20px;
    @media (max-width: 920px) {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: none;
        row-gap: 12px;
        column-gap: calc(var(--vw) *10);
    }
    @media (max-width: 500px) {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: none;
        column-gap: 6px;
    }
    &__item {
        text-align: center;
        transition: scale .2s ease-in-out;
    }
    &__block {
        // height: min(300px, max(calc(var(--vw) * 300), 150px));
        // width: min(200px, max(calc(var(--vw) * 200), 100px));
        // overflow: hidden;
        border-radius: 8px;
        display: block;
        margin: 0 auto;
    }

    &__img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        // object-fit: cover;
        border-radius: 8px;
        opacity: 0.8;
        filter: grayscale(40%);
        transition: filter .2s ease-in-out;
        @media (max-width: 920px) {
            filter: none;
        }
    }
    &__item:hover {
        scale: 1.05;
    }
    &__img:hover {
        opacity: 1;
        filter: contrast(120%);
    }
    &__text {
        text-align: center;
        padding-top: 6px;
    }
}

// pictures__text
.block-text {
    text-align: center;
}
// pictures__w100
.block-w100 {
    width: 100%;
}
// pictures__h-auto
.block-h-auto {
    height: auto;
    @media (max-width: 920px) {
        height: 100px;
    }
}
