@use './general/gi';
@use './components/ui';
@use './helpers/classes';
@use 'main';

@use 'site/bloks/header';
@use 'site/bloks/footer';
@use 'site/bloks/animate';
@use 'site/bloks/main-video';


@use 'site/pages/headline';
@use 'site/pages/exhibition-first';
@use 'site/pages/exhibition-second';
@use 'site/pages/exhibition-third';
@use 'site/pages/pictures';
@use 'site/pages/meetings';
@use 'site/pages/video';
@use 'site/pages/carousel-tsart';


.fadeOut {
    opacity: 0;
}
.fadeIn {
    opacity: 1;
}
input[type=radio] {
    display: none;
}
